body {
    background-color: rgb(31, 29, 29);
    font: calc(0.40rem + 1vmin) monospace;
}

.nav {
    color: rgb(221, 221, 221);
    font-size: 25px;
    margin: 0px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.main-container {
    margin: auto;
    width: 70%;
}

.title {
    color: white;
    font-size: 60px;
    margin: 0px;
}

.description {
    color: rgb(221, 221, 221);
    font-size: 25px;
    margin: 0px;
    margin-top: 20px;
}

.box-section-title {
  margin-top: 75px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-width: 100%;
    gap: 10px;
    padding: 20px;
    width: 70%;
    margin: auto;
}


.buttons-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20px;
    padding-left: 0px;
    width: 200px;
    margin-top: 20px;
}

.button-box {
    border: 3px solid rgb(219, 219, 219);
    border-radius: 20px;
    height: 50px;
    width: 250px;
}

.button-text {
    margin: 10px;
    justify-self: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.box {
    border: 3px solid rgb(219, 219, 219);
    border-radius: 20px;
    height: auto;
}

.box-title {
    margin: 30px;
    font-size: 25px;
    color: white;
    margin-bottom: 0px;
}

.box-description {
    margin: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(224, 224, 224);
}

.box:hover {
  background-color: rgba(118, 119, 118, 0.1);
  transform: translateY(-3px);
  cursor: pointer;
}
.button-box:hover {
  background-color: rgba(118, 119, 118, 0.1);
  transform: translateY(-3px);
  cursor: pointer;
}

@media (max-width: 1500px) {
    .grid-container {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      grid-template-columns: repeat(2,1fr);
    }
  }


@media (max-width: 767px) {
    .grid-container {
      margin-right: 0;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      grid-template-columns: repeat(1,1fr);
    }
    .main-container {
        width: 100%;
       
    }
    .buttons-container {
      width: 100%;
      grid-template-columns: repeat(1,1fr);
    }
    .button-box {
        width: 100%;
    }
    .nav {
        margin-top: 50px;
    }
  }